body {
    background-color: #fff;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

//Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;
            text-decoration: none;

            &.active {
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071C4D;
    color: #FFFFFF;

    &:hover {
        background-color: #1E3771;
        color: #fff;
    }
}

//Header
header {
    margin-top: -70px;
    padding: 180px 0 165px;
    background-image: url('../images/header1.jpg');
    background-size: cover;

    h1,
    p {
        color: #fff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;

    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #FF9E53;
        color: #fff;

        &:hover {
            background-color: #FFAA69;
            color: #fff;
        }
    }
}

//Statistics
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 54px;
        background-color: #fff;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

//Wisata Popular
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -64px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;

        h2,
        p {
            color: #fff;
        }

        h2 {
            text-transform: capitalize;
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
            margin-top: 14px;
        }
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background: #ddd;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;

            .travel-country,
            .travel-location {
                text-transform: uppercase;
                color: #fff;
            }

            .travel-country {
                font-size: 18px;
            }

            .travel-location {
                font-size: 26px;
            }

            .travel-button {
                text-transform: capitalize;

                .btn-travel-details {
                    background-color: #FF9E53;
                    color: #fff;

                    &:hover {
                        background-color: #EA8537;
                        color: #fff;
                    }
                }
            }

        }
    }
}

//Network
.section-network {
    background-color: #fff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    .img-network {
        img {
            width: 100%;
            min-height: 70px;
        }
    }
}

//Testimonial
.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #F7F9FF 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-size: 40px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
        margin-top: 14px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px, 20px, 10px;
        border-radius: 11px;
        margin-bottom: 20px;
        background-color: #fff;
    }

    .testimonial-content {
        min-height: 380px;
    }

    img {
        margin-top: 50px;
    }

    h3 {
        font-size: 22px;
        text-transform: capitalize;
    }

    .testimonial {
        font-weight: 200;
        font-size: 26px;
        color: #6e6e6e;
        min-height: 160px;
    }



    .trip-to {
        font-weight: normal;
        font-size: 22px;
        color: #6e6e6e;
        margin-bottom: 30px;
    }

    .section-button-testimoni {
        padding-top: 20px;
        text-transform: capitalize;


        .btn-need-help {
            background-color: #F2F2F2;
            font-size: 20px;
            color: #C3C3C3;

            &:hover {
                background-color: #D1D1D1;
                color: #fff;
            }

        }

        .btn-get-started {
            background-color: #FF9E53;
            font-size: 20px;
            color: #fff;

            &:hover {
                background-color: #EA8537;
                color: #fff;

            }
        }
    }
}

//Footer

.section-footer {
    h5 {
        font-size: 22px;
        text-transform: capitalize;
    }

    a {
        color: #071C4D;
        text-decoration: none;
        text-transform: capitalize;
    }
}